.content {
}
.detail_body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background: hsl(var(--hue), var(--sat), 98%);
}

.detail_container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 65vw;
  background: #fff;
  margin: 20px;
}

.detail_container .details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px;
}

.detail_container .details h2 {
  margin: 0;
  padding-top: 5vh;
  font-size: 2.4em;
  line-height: 1.2em;
  color: #444;
}

.detail_subtitle {
  text-align: justify;
}

.detail_image {
  margin: 1rem;
  border-radius: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: inline;
}

.img-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
}

.img-container img {
  margin: 0;
}
